.project {
    display: flex; 
    justify-items: center;
    flex: 0 0 45rem;
    height: 50rem;
    margin: 0 auto;
    // margin-bottom: 3rem;

    &:not(:last-child) {
        margin-right: 3rem;
    }

    @media (max-width: 1000px) {
        flex: 0 0 30rem;
        height: 40rem;
    }

    @media (max-width: 750px) {
        flex: 0 0 45rem;
        height: 55rem;  
        margin-right: 0;  
    }

    @media (max-width: 550px) {
        flex: 0 0 40rem;
        height: 50rem;
        margin-right: 0;
    }

    @media (max-width: 414px) {
        flex: 0 0 35rem;
        height: 45rem;
        margin-right: 0;
    }
}

a {
    text-decoration: none;
    color: black;
}

p {
    text-align: center;
}

.card {
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
    border-radius: 2px;



    &__img {
        width: 100%;
        height: 70%;
        margin: 0;
        transition: all .2s;

        &:hover {
        }


        @media (max-width: 750px) {
            margin-top: 0;
        }    
    }

    &__description {
        margin: 0 auto;
        @media (max-width: 750px) {
            width: 80%;
        }    
    }

    &__title {
        text-transform: uppercase;
    }
}
