.about {
    margin-top: 40px;
    margin-bottom: 100px;
    animation: fadeIn 1s ease-out;

    &__grid {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, 200px);
        grid-template-rows: auto;
        grid-column-gap: 40px;
        grid-row-gap: 30px;

        @media (max-width: 414px) {
            grid-template-columns: repeat(2, 175px);
            grid-template-rows: auto 50px 200px 200px 250px;
            grid-column-gap: 0;
            grid-row-gap: 0;
            font-size: 2rem;
        }        
    }

    &__perbild {
        width: 200px;
    }

    &__item {
    
        &--1 {
            grid-column: 1/2;
            grid-row: 1/2;
            
            &--bild {
                
                width: 200px;
                height: 265px;
                background-image: url(../../data/img/perbild.jpg);
                background-size: contain;
                border-radius: 8px;
            }
        }
        
        &--2 {
            line-height: 3rem;
            grid-column: 1/-1;
            font-size: 2rem;
        }

        &--3 {
            font-size: 3rem;
            justify-self: center;
            align-self: center;
            grid-column: 2/3;
            grid-row: 2;

            @media (max-width: 414px) {
                grid-column: 1/-1;
                grid-row: 2;
                margin: 0px;
            }                        
        }

        &--4 {
            font-size: 2rem;
            list-style: circle;
            line-height: 5rem;

            &--list {
                &--1 {
                    grid-column: 1/2;
                    grid-row: 3/4;

                    @media (max-width: 414px) {
                        grid-column: 1/2;
                        grid-row: 3/4;
                        align-self: center;
                    }                        
                }

                &--2 {
                    grid-column: 2/3;
                    grid-row: 3/4;

                    @media (max-width: 414px) {
                        grid-column: 2/3;
                        grid-row: 3/4;
                        align-self: center;
                    }                        
                }

                &--3 {
                    grid-column: 3/4;
                    grid-row: 3/4;

                    @media (max-width: 414px) {
                        grid-column: 1/2;
                        grid-row: 4/5;
                        align-self: center;
                    }                            
                }

    
            }
        }

        &--5 {
            font-size: 3rem;
            text-align: center;
            justify-content: center;
            grid-column: 1/-1;
            grid-row: 4;

            @media (max-width: 414px) {
                grid-column: 1/-1;
                grid-row: 5;
                padding-bottom: 100px;
            }                                

            &--text {
                font-size: 2rem;
            }
        }

        &--6 {

        }
    }
}


