.about {
    &__grid {
        display: grid;
        justify-content: center;
        grid-template-columns: 200px 500px;
        grid-template-rows: 265px 500px;
        grid-column-gap: 50px;
    }

    &__perbild {
        width: 200px;
        height: 500px;
        background-color: red;
    }
}

.column--1 {
    height: 500px;
    &--bild {
        width: 200px;
        height: 265px;
        background-size: contain;
        border-radius: 8px;
        }
}