.contact {
    width: 60%;
    margin: 40px auto 100px auto;
    font-size: 3rem;

    display: grid;
    grid-template-columns: repeat(4, minmax(119px, 1fr)) 430px;
    grid-template-rows: 70px 70px 70px 100px;
    grid-auto-rows: 300px;
    grid-column-gap: 10px;
    justify-content: center;

    animation: fadeIn 1s ease-out;

    @media (max-width: 1000px) {
        grid-template-columns: repeat(5, 100px);
        grid-template-rows: 40px 40px 40px 40px;
        grid-column-gap: 0;
        font-size: 2rem;
    }

    @media (max-width: 550px) {
        grid-template-columns: repeat(5, 60px);
        grid-template-rows: 40px 40px 40px 40px;
        grid-column-gap: 0;
        font-size: 2rem;
    }


    &__bild {
        grid-column: 5/-1;
        grid-row: 1/6;
        background-image: url(../../data/img/perbild.jpg);
        background-size: cover;

        @media (max-width: 1199px) {
            height: 453px;
            width: 340px;
        }
        @media (max-width: 1000px) {
            grid-column: 4/5;
            height: 267px;
            width: 200px;
        }
        @media (max-width: 550px) {
            display: none;
        }
    }

    &__name {
        grid-column: 1/5;
        grid-row: 1;

        @media (max-width: 550px) {
            grid-column: 1/-1;
            grid-row: 1;
        }
    }

    &__telefon {
        grid-column: 1/5;
        grid-row: 2;

        @media (max-width: 550px) {
            grid-column: 1/-1;
            grid-row: 2;
        }
    }

    &__mail {
        grid-column: 1/5;
        grid-row: 3;

        @media (max-width: 550px) {
            grid-column: 1/-1;
            grid-row: 3;
        }
    }

    &__github {
        height: 50px;
        width: 50px;

        grid-column: 1/2;
        grid-row: 4;
        background-image: url(../../data/img/github.png);
        background-size: contain;

        &:hover {
            cursor: pointer;
        }

        @media (max-width: 550px) {
            grid-column: 1/2;
            grid-row: 4;
            height: 40px;
            width: 40px;
        }
    }

    &__linkedin {
        grid-column: 2/3;
        grid-row: 4;
        height: 50px;
        width: 50px;
        background-image: url(../../data/img/insta.png);
        background-size: contain;

        &:hover {
            cursor: pointer;
        }

        @media (max-width: 550px) {
            grid-column: 2/3;
            grid-row: 4;
            height: 40px;
            width: 40px;
        }
    }
}