

.contact {
    width: 40%;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-row-gap: 10px;
    justify-content: left;

    font-size: 3rem;
}

.icons {
    margin-top: 10px;
        
    &__github {
        display: inline-block;
        margin-left: 10px;
        height: 50px;
        width: 50px;
        background-image: url(../../data/img/github.png);
        background-size: contain;

        &:hover {
            cursor: pointer;
        }
    }
    
    &__linkedin {
        margin-left: 30%;
        display: inline-block;

        height: 50px;
        width: 50px;
        background-image: url(../../data/img/linkedin.png);
        background-size: contain;

        &:hover {
            cursor: pointer;
        }
    }
    

}