.header {
    padding-top: 50px;
    padding-bottom: 30px;
    display: grid;
    width: 60%;
    height: 25vh;
    justify-content: center;

    grid-template-columns: repeat(3, 30%);
    grid-template-rows: 100px 
                        100px
                        50px;

    margin: auto;

    &__link--1 {
        justify-self: right;
        grid-row: 3;
    }

    &__link--2 {
        justify-self: center;

        grid-row: 3;        
    }

    &__link--3 {
        justify-self: left;

        grid-row: 3;
    }    
}

.navlink {
    font-size: 2rem;
    letter-spacing: .5rem;
    text-decoration: none;
    color: black;

    animation: fadeIn 2s ease-out;
    
    &:hover {
        cursor: pointer;
    }

    &:active,
    &:focus {
        border-bottom: 1px solid #000    
    }
}


.heading__primary {
    
    &-main {
        justify-self: center;
        align-self: flex-end;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 1.5rem;
        grid-column: 1/-1;
        grid-row: 1;

        animation: moveInLeft 1s ease-out;
    }

    &-sub {  
        justify-self: center;
        align-self: flex-start;      
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 1.5rem;
        grid-column: 1/-1;
        grid-row: 2;


        animation: moveInRight 1s ease-out;
    }
}