.header {
    padding-top: 50px;
    padding-bottom: 30px;
    display: grid;
    width: 60%;
    justify-content: center;
    margin: auto;

    grid-template-columns: repeat(3, minmax(200px, 300px));
    grid-template-rows: 100px 
                        100px
                        minmax(50px, 50px);

    @media (max-width: 414px) {
        padding-top: 0;
        width: 100%;
        grid-template-columns: repeat(3, 125px);
        grid-template-rows: 100px 
                            50px
                            minmax(50px, 50px);
    }

    &__link--1 {
        justify-self: right;
        grid-row: 3;

        @media (max-width: 414px) {
            justify-self: center;
        }
    }

    &__link--2 {
        justify-self: center;

        grid-row: 3;        
    }

    &__link--3 {
        justify-self: left;
        grid-row: 3;

        @media (max-width: 414px) {
            justify-self: center;
        }
    }
}

.navlink {
    font-size: 2rem;
    letter-spacing: .5rem;
    text-decoration: none;
    color: black;

    animation: fadeIn 2s ease-out;
    
    &:hover {
        cursor: pointer;
    }

    &:active,
    &:focus {
        border-bottom: 1px solid #000    
    }
    @media (max-width: 550px) {
        font-size: 1.5rem;
    }

    @media (max-width: 414px) {
        font-size: 1rem;
    }
}


.heading__primary {
    
    &-main {
        justify-self: center;
        align-self: flex-end;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 1.5rem;
        grid-column: 1/-1;
        grid-row: 1;

        animation: moveInLeft 1s ease-out;

        @media (max-width: 550px) {
            font-size: 4rem;
        }

        @media (max-width: 414px) {
            font-size: 3rem;
        }
    }

    &-sub {
        justify-self: center;
        align-self: flex-start;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 1.5rem;
        grid-column: 1/-1;
        grid-row: 2;

        animation: moveInRight 1s ease-out;

        @media (max-width: 550px) {
            font-size: 1.5rem;
        }

        @media (max-width: 414px) {
            font-size: 1rem;
        }
    }
}