.projects {
    display: flex;
    justify-self: center;
    justify-content: center;
    width: 100rem;
    flex-wrap: wrap;
    
    margin: 5rem auto;
    box-sizing: border-box;
    justify-items: center;
    align-items: center;

    animation: fadeIn 1s ease-out;

    @media (max-width: 1000px) {
        width: 70rem;
    }    

    @media (max-width: 750px) {
        width: 50rem;
    }

    @media (max-width: 550px) {
        width: 40rem;
    }

    @media (max-width: 414px) {
        width: 35rem;
    }
}