.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1rem 3rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        font-size: $default-font-size;
        background-color: $color-grey-light-1;
        color: $color-black;
        border: none;
        cursor: pointer;

        &:hover {
            box-shadow: 0 1rem 2rem rgba($color-black,.2);
        }    
    }
}