.card {
    height: 100%;
}

.item--1 {
    background-image: url(../img/natour.png);
    background-position: center;
}

.item--2 {
    background-image: url(../img/dator.jpg);
    background-position: center;
}
.item--3 {
    background-image: url(../img/natour.png);
    background-size: contain;
}